html {
  font-size: 10px;
}

body {
  margin: 0;
}

div, a, li, h2, h3, h4, button {
  font-family: 'roboto', 'sans-serif';
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1, h2, h3, h4 {
  margin: 0;
}
