html {
  font-size: 10px;
}

body {
  margin: 0;
}

a,
p,
li,
h2,
h3,
h4,
div,
label,
input,
button {
  color: $stern-brown;
  font-family: 'roboto', 'sans-serif';
  font-size: $font-m;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
